<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Exchange-Rate</title>
</head>
<body >
    <form id="date_input_form" method="POST" action="/edit">
        <label for="date_input">Date : </label>
        <input type="date" name="date_input" value={{data.status_date}} required>
        <button type="submit">Apply</button>
    </form>
    {% if exchange_rate is not none %}
    <h1>{{data.status_date}}</h1>
        <h2>Exchange Rate:</h2>
        <table  border="1">
            <tr >
                <th>Base Currency</th>
                <th>Bid</th>
                <th>Ask</th>
            </tr>
            {% for base, data in data.exchange_rate.items() %} 
                    <tr>
                        <td>{{ base }}</td>
                        <td>{{ data.bid }}</td>
                        <td>{{ data.ask }}</td>
                    </tr>
            {% endfor %}
        </table>
    {% endif %}
    <h1>Currency Converter</h1>

    <form oninput="converted_amount.value = amount_convertor(amount.value,to_bid.value,to_ask.value)">
        <label for="base_currency">Base Currency:</label>
        <select id="to_bid" name="base_currency">
            <option value=""></option>
            <option value="1&1">KHR</option>
            {% for base,data in data.exchange_rate.items() %}
            <option value = {{data.bid}}&{{data.ask}}> {{base}} </option>
            {% endfor %}
          </select>

        <label for="amount">Amount:</label>
        <input type="req_amount" required pattern="[0-9]*" name="amount" onkeydown="if (event.key === 'Enter') return false;">

        <label for="ask_currency">Target Currency:</label>
        <select id="to_ask" name="ask_currency">
            <option value=""></option>
            <option value="1&1">KHR</option>
            {% for base,data in data.exchange_rate.items() %}
            <option value = {{data.bid}}&{{data.ask}} > {{base}} </option>
            {% endfor %}
        </select>
        
          {% if converted_amount is not none %}
              <h2>Converted Amount:</h2>
              <output name="converted_amount" for="to_bid to_ask"></output>
          {% endif %}
    </form>
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>
