<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Test</title>
  <body>
    {% if exchange_rate is not none %}
    <main class="table">
      <section class="table-header">
        <h1>Exchange-Rate</h1>
    
      </section>
      <section class="table-body">
        <table>
          <thead>
            <tr>
              <th>Base Currency</th>
              <th >Bid</th>
              <th>Ask</th>
            </tr>
            <tbody>
                {% for base, data in data.exchange_rate.items() %} 
                    <tr>
                        <td>{{ base }}</td>
                        <td>{{ data.bid }}</td>
                        <td>{{ data.ask }}</td>
                    </tr>
            {% endfor %}
            </tbody>
          </thead>
        </table>
        <div class="converter">
            <h1>{{data.status_date}}</h1>
            <div class="date">
                <form id="date_input_form" method="POST" action="/edit">
                    <label for="date_input">Date : </label>
                    <input type="date" name="date_input" value={{data.status_date}} required pattern="\d{4}-\d{2}-\d{2}">
                    <button type="submit">Apply</button>
                </form>    
            </div>
            <form oninput="converted_amount.value = parseFloat(amount.value)*((parseFloat(to_bid.value))/(parseFloat(to_ask.value)))">
                <label for="base_currency">Base Currency:</label>
                <select id="to_bid" name="base_currency">
                    <option value="1">KHR</option>
                    {% for base,data in data.exchange_rate.items() %}
                    <option value={{data.bid}}>{{base}}</option>
                    {% endfor %}
                  </select>
        
                <label for="amount">Amount:</label>
                <input type="req_amount" required pattern="[0-9]*" name="amount" onkeydown="if (event.key === 'Enter') return false;">
        
                <label for="ask_currency">Target Currency:</label>
                <select id="to_ask" name="ask_currency">
                    <option value="1">KHR</option>
                    {% for base,data in data.exchange_rate.items() %}
                    <option value={{data.ask}}>{{base}}</option>
                    {% endfor %}
                </select>
                
                  {% if converted_amount is not none %}
                      <h2>Converted Amount:</h2>
                      <output name="converted_amount" for="to_bid to_ask"></output>
                  {% endif %}

            </form>
        </div>
      </section>

    </main>
    {% endif %}
  </body>
</html>
