<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <div class="header"><h1>Exchange Rate</h1></div>
        <div class="list">
            <table class="menu">
                <thead>
                    <tr >
                        <th>Base Currency</th>
                        <th>Bid</th>
                        <th>Ask</th>
                    </tr>
                </thead>
                <tbody>
                    {% for base, data in data.exchange_rate.items() %} 
                    <tr>
                        <td>{{ base }}</td>
                        <td>{{ data.bid }}</td>
                        <td>{{ data.ask }}</td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
</body>
</html>